[Unit]
Description=Turn off pt-hub-controller at end of shutdown (version 1.2)
DefaultDependencies=no
Before=umount.target
After=multiuser.target

[Service]
Type=oneshot
ExecStart=/opt/pi-top/poweroff

[Install]
WantedBy=halt.target poweroff.target

